
/* BORDERS -------------------- */

#vert_border { display:block; float: left; width:10px; background-color:#fff; padding-bottom:10001px; margin-bottom:-10000px; overflow:hidden }
#vert_border_img { display:block; float:left; width:10px; background:url('../images/layout/side_border.png') no-repeat; padding-bottom:10001px; margin-bottom:-10000px;}
#horz_border { display:block; float: left; width:940px; height:2px; background-color: #4D4F53; margin-bottom: 6px; margin-top: 6px }
			   
/* BANNER LOGOLINKS -------------------- */

#logo_main_su { width:267px; height:60px; float:left; border-bottom:none; }
#logo_main_su { 0px 0px; }

#logo_main_su2 { width:110px; height:60px; float:left; border-bottom:none; }
#logo_main_su2 { -267px 0px; }


/* NAVIGATION -------------------- */

#navlist{height:42px; display:block; float: left; width:940px; padding: 0; margin:0;}

#home { width:129px; height:42px; float: left; border-bottom: none;}
#home { background:url('../images/layout/nav_sprites.png') 0px 41px; }
#home:hover { background:url('../images/layout/nav_sprites.png') 0px 0px; }

#download { width:136px; height:42px; float: left; border-bottom: none;}
#download { background:url('../images/layout/nav_sprites.png') -129px 41px; }
#download:hover { background:url('../images/layout/nav_sprites.png') -129px 0px; }
#download.on { background:url('../images/layout/nav_sprites.png') -129px 0px; }

#guides { width:136px; height:42px; float: left; border-bottom: none;}
#guides { background:url('../images/layout/nav_sprites.png') -265px 41px; }
#guides:hover { background:url('../images/layout/nav_sprites.png') -265px 0px; }
#guides.on { background:url('../images/layout/nav_sprites.png') -265px 0px; }

#forum { width:134px; height:42px; float: left; border-bottom: none;}
#forum { background:url('../images/layout/nav_sprites.png') -401px 41px; }
#forum:hover { background:url('../images/layout/nav_sprites.png') -401px 0px; }
#forum.on { background:url('../images/layout/nav_sprites.png') -401px 0px; }

#training { width:134px; height:42px; float: left; border-bottom: none;}
#training { background:url('../images/layout/nav_sprites.png') -535px 41px; }
#training:hover { background:url('../images/layout/nav_sprites.png') -535px 0px; }
#training.on { background:url('../images/layout/nav_sprites.png') -535px 0px; }

#develop { width:134px; height:42px; float: left; border-bottom: none;}
#develop { background:url('../images/layout/nav_sprites.png') -669px 41px; }
#develop:hover { background:url('../images/layout/nav_sprites.png') -669px 0px; }
#develop.on { background:url('../images/layout/nav_sprites.png') -669px 0px; }

#contact { width:137px; height:42px; float: left; border-bottom: none;}
#contact { background:url('../images/layout/nav_sprites.png') -803px 41px; }
#contact:hover { background:url('../images/layout/nav_sprites.png') -803px 0px; }
#contact.on { background:url('../images/layout/nav_sprites.png') -803px 0px; }

#visualizations { width:151px; height:33px; float: left; border-bottom: none;}
#visualizations.on { background:url('../images/layout/link_sprites.png') 0px 0px; }
#visualizations.on:hover { background:url('../images/layout/link_sprites.png') 0px 33px; }
#visualizations.off { background:url('../images/layout/link_sprites.png') 0px 33px; }

#about_code { width:161px; height:33px; float: left; border-bottom: none;}
#about_code.on { background:url('../images/layout/link_sprites.png') -151px 0px; }
#about_code.on:hover { background:url('../images/layout/link_sprites.png') -151px 33px; }
#about_code.off { background:url('../images/layout/link_sprites.png') -151px 33px; }

#cite_us { width:151px; height:33px; float: left; border-bottom: none; }
#cite_us.on { background:url('../images/layout/link_sprites.png') -312px 0px; }
#cite_us.on:hover { background:url('../images/layout/link_sprites.png') -312px 33px; }
#cite_us.off { background:url('../images/layout/link_sprites.png') -312px 33px; }

/* SEARCH --------------------------------*/

#header #web_search { font-size:12px; width: 191px; float: right; color: #fff; margin-top: 34px; padding-top: 0; }

#header #cse-search-box {float: right; margin: 0; padding: 0; width: 191px;}
#header #cse-search-box .searchbox {background: url("../images/layout/search_box_bg.png") no-repeat left top; height: 24px; margin: 0; padding: 0px 0px 0px 3px; }
#header #cse-search-box input {width: 150px; color: #3f3c30; margin: 3px 0px 0px 6px; padding: 0; border: 0; outline: none; height: 15px; float: left;}
#header #cse-search-box input.form-submit {border: 0; background: url("../images/layout/search_button.gif") no-repeat top left; height: 20px; width: 20px; text-indent: -9999px;  margin-left: 3px; margin-top: 1px; float: right; cursor: pointer; color: transparent; text-transform: capitalize;}


/* GRID --------------------------------*/

#titlebar {text-align:center; line-height:3.2em; display:block; float: left; width:906px; height:60px; border: solid #4D4F53 2px; box-shadow:inset 0 0 8px 3px rgba(0, 0, 0, 0.2); padding: 0px 15px 0px 15px}
#main_grid{ display:block; float: left; width:940px; height:500px; background:url('../images/layout/bkg_grid.png'); background-repeat:no-repeat; position:relative }
#main_grid #su2_logo{width:291px; height:217px; position:relative; left:67px; top:23px; }
#statement {background:url('../images/layout/bkg_textbox.png'); background-repeat:no-repeat;  width:300px; height:180px; position:relative; left:36px; top:40px; padding:8px 15px 14px 15px; font-size:16px; line-height:20px; }
/* #statement {border:solid 4px #8c141b; background:#f6efd8; box-shadow:0 0 8px 2px rgba(0, 0, 0, 0.5); width:300px; height:180px; position:relative; left:40px; top:40px; padding:8px 15px 14px 15px;} */
/* #statement {background:url('../images/layout/bkg_textbox.png'); background-repeat:no-repeat; width:244px; height:165px; position:relative; left:68px; top:58px; padding:8px 15px 14px 15px;} */

#more_content{display:block; float: left; width:100%;}

#more_content #info {width:311px; height:inherit; display:block; float: left;}
#more_content #info #info_title { height:82px; background-image:url('../images/layout/header_info.png'); }
#more_content #info_content { width:271px; height:100%; padding:5px 20px 10px 20px; }

#more_content #latest {width:313px; height:inherit; display:block; float: left;}
#more_content #latest #latest_title { height:82px; background-image:url('../images/layout/header_news.png') }
#more_content #latest_content { width:273px; height:100%; padding:5px 20px 10px 20px }

#more_content #tweet {width:312px; height:inherit; display:block; float: left;}
#more_content #tweet #tweet_title { height:82px; background-image:url('../images/layout/header_follow.png') }
#more_content #tweet_content { width:272px; height:100%; padding:5px 20px 10px 20px }

#slim_divider { display:block; float: left; width:2px; height:100%; background-color:#fff }
#horizontal_slim_divider { display:block; float: left; width:100%; height:2px; background-color:#fff }

.twitter-timeline { width:270px; }

/* SLIDESHOW --------------------------------*/

#slideshow_container{ background:url('../images/layout/bkg_slideshow.png'); background-repeat:no-repeat; width:512px; height:422px; position:relative; left:392px; top:-378px; }
#slideshow_title{ width:512px; height:54px; display:block; line-height:2.9em }
#slideshow_images { width: 492px; height: 314px; background-repeat: no-repeat; background:url('../images/slideshow/image2.png') }
#slideshow_links{ width:512px; height:54px; display:block;}

.slideshow_clear{ width:492px; height:314px; padding: 0px 10px 0px 10px; display:block; }
.slideshow_opaque{ width:468px; height:308px; margin: 0px 12px 0px 12px; padding: 3px 10px 3px 10px; text-align:left; background:#fff; display:block; }

#about_code_content { text-indent:20px; }
#about_code_content, #cite_us_content { font-size:16px; line-height:20px; }



/* NEWS POSTS --------------------------------*/

.post { margin:0; }
.post_date { width:100%; color:#c60; margin-bottom:-0.05em }
.post_title { color: 565245; margin:0; padding:0; margin-bottom:-0.05em; border-bottom:none}
.post_credit { margin-bottom:20px;}
.post_body { border-left: 2px solid #565245; padding:0px 7px 7px 7px; margin: 0px 0px 20px 1px; }
.post_article p { text-indent:0px; margin-bottom:1em}
.post_article ul { text-indent:0; }
.post img { padding:4px; border:1px solid #ddd; margin:4px 0 4px 0; }
.post_more { margin-left:0px; }
.post_footer { height:10px; width=100%; border-bottom:solid 1px #565347; margin-bottom:10px; }
.post_extra { font-size:1.2em; margin-top:20px }


/* BIOS --------------------------------*/

.bio_body { width:100%; border-top:solid 1px #ddd; padding-top:15px; margin-top:15px; }
.bio_img { float:left; display:block; margin-right:20px; }
.bio_img img {width="105" height="126.75"}
.bio_body h4 {font-size:24px; border-bottom:none}

.company_logo { width:33%; height:80px; display:block; float:left; text-align:center; }


/* TRAINING --------------------------------*/

.training_body { width:100%; border-bottom:solid 1px #ddd; padding-bottom:15px; margin-top:15px; }
.training_body h4 {font-size:24px; border-bottom:none}

