<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{site.baseurl}}/img/logonav.png"></span>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='download' %} class="active" {% endif %}><a href="{{ "/download.html" | prepend: site.baseurl }}">Download</a></li>
                <li {% if page.sectionid=='docs' %} class="active" {% endif %}><a href="{{ "/docs/home/" | prepend: site.baseurl }}">Docs</a></li>
                <li {% if page.sectionid=='tutorials' %} class="active" {% endif %}><a href="{{ "/tutorials/home/" | prepend: site.baseurl }}">Tutorials</a></li>
                <li {% if page.sectionid=='forum' %} class="active" {% endif %}><a href="{{ "https://www.cfd-online.com/Forums/su2/" | prepend: site.baseurl }}">Forum</a></li>
                <li {% if page.sectionid=='develop' %} class="active" {% endif %}><a href="{{ "/develop.html" | prepend: site.baseurl }}">Develop</a></li>
                <li {% if page.sectionid=='ids' %} class="active" {% endif %}><a href="{{ "http://su2devsociety.org" | prepend: site.baseurl }}">IDS</a></li>
                <li {% if page.sectionid=='blog' %} class="active" {% endif %}><a href="{{ site.posts.first.url | prepend: site.baseurl }}">News</a></li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.git_address }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/intent/user?screen_name=su2code"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/su2code/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</nav>
