---
---

@import "{{ site.theme }}";


.header-container h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.header-container h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
